#title{
    color: red;
    text-align: center;
}
#search{
    text-align: center;
}
.div1{
    float: left;
    height: 5px;
    width: 33%;
}
.div2{
    float: left;
    width: 33%;
    margin: auto;
}
.dvi3{
    float: left;
    width: 33%;
}
.div3 button{
    float: right;
}
.t{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 100px;
    text-align: center;
}
.tname{
    float: left;
    height: 100%;
    width: 100px;
}
.movie{
    float: left;
    padding-left: 0;
    height: 100%;
}
#t1movie, #t2movie, #t3movie, #t4movie, #t5movie{
    display: none;
}
.schedule{
    float: left;
    height: 100%;
    padding-left: 0;
}
ul{
    padding: 0;
    margin: 0;
}
.info{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 143px;
    padding-left: 7px;
}
.sche{
    display: none;
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 200px;
    padding-left: 7px;
}
.date{
    list-style: none;
    float: left;
    border: 1px;
    border-style: solid;
    width: 20px;
    text-align: center;
}