.header{
    margin-bottom: 3%;
}
#title{
    color: red;
    text-align: center;
}
#search{
    text-align: center;
}
.div1{
    float: left;
    height: 5px;
    width: 35%;
}
.div2{
    float: left;
    width: 40%;
    margin: auto;

}
#in, #s{
    float: left;
}
#in li{
    text-align: right;
    margin-bottom: 5px;
}
#s input{
    width: 70px;
    height: 50px;
    margin-left: 10px;
}
.dvi3{
    float: left;
    width: 25%;
}
.div3 button{
    float: right;
}
.t{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 100px;
    text-align: center;
}
.tname{
    float: left;
    height: 100%;
    width: 100px;
    padding-left: 0;
    margin-right: 5px;
}
.movie{
    float: left;
    padding-left: 0;
    height: 100%;
}
#t1box{
    background-color: lightgrey;
}
#t2movie, #t3movie, #t4movie, #t5movie{
    display: none;
}
.sche_box{
    float: left;
    height: 100%;
    width: 300px;
    padding-left: 0;
    margin-bottom: 50px;
    border: 1px;
    border-style: solid;
}
#t1{
    display: block;
    width: 200px;
    padding-left: 20px;
}
#t2, #t3, #t4, #t5{
    display: none;
    width: 200px;
    padding-left: 20px;
}
ul{
    padding: 0;
    margin: 0;
}
.t1info, .t2info, .t3info, .t4info, .t5info{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 143px;
    padding-left: 7px;
}
.date{
    list-style: none;
    float: left;
    border: 1px;
    border-style: solid;
    width: 25px;
    text-align: center;
}
.date a{
    text-decoration: none;
    color: green;
}
.date a:hover{
    text-decoration: underline;
}

.date_select{
    width: 100%;
}
.bar{
    list-style: none;
    border: 1px;
    border-style: solid;
    width: 400px;
    text-align: center;
    margin: auto;
}
.bookingT{
    margin: auto;
}
.clicked{
    background-color: lightgrey;
}
#cnt{
    float: left;
    border: 1px;
    border-style: solid;
    margin: auto;
    width: 500px;
    padding-left: 15px;
}
.top ul li{
    list-style: none;
    float: left;
    border: 1px;
    border-style: solid;
    width: 33%;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}
.lists{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin: auto;
}
.top{
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    margin: auto;
}
.list-content1{
    border: 1px;
    border-style: solid;
    width: 90%;
    height: 90%;
    padding: 30px;
    margin: auto;
}
.bookingL{
    text-align: center;
    width: 70%;
    margin: auto;
}
.bookingL2, .bookingL3{
    display: none;
    text-align: center;
    width: 70%;
    margin: auto;
}
.cancel content, .watch content{
    display: none;
}
.td__1{
    width: 90px;   
}
.td__2{
    width: 120px;
}
.td__3{
    width: 70px;
}
.td__4{
    width: 150px;
}
.td__5{
    width: 70px;
}
.td__6{
    width: 100px;
}
.btm1{
    float: left;
}
#bookingBtn{
    margin-left: 150px;
    margin-top: 25px;
    width: 100px;
    height: 40px;
}
.schedule ul li{
    list-style: none;
    width: 400px;
}
.schedule h3{
    border: 1px;
    border-style: solid;
    font-family: monospace;
}
#confirmed{
    text-align: center;
}
.div2 li{
    list-style: none;
}
#rec{
    margin: auto;
    text-align: center;
}
.admin_top{
    border: 1px;
    border-style: solid;
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin: auto;
    margin-bottom: 3px;
    text-align: center;
}
#admin_s{
    margin-left: 4px;
}
.q1 tr td, .q2 tr td, .q3 tr td{
    border: 1px;
    border-style: solid;
    width: 100px;
    text-align: center;
}