.header{
    margin-bottom: 3%;
}
#title{
    color: red;
    text-align: center;
}
#search{
    text-align: center;
}
.div1{
    float: left;
    height: 5px;
    width: 20%;
}
.div2{
    float: left;
    width: 60%;
    margin: auto;
}
.dvi3{
    float: left;
    width: 20%;
}
.div3 button{
    float: right;
}
.t{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 100px;
    text-align: center;
}
.tname{
    float: left;
    height: 100%;
    width: 100px;
    padding-left: 0;
}
.movie{
    float: left;
    padding-left: 0;
    height: 100%;
}
#t1box{
    background-color: lightgrey;
}
#t2movie, #t3movie, #t4movie, #t5movie{
    display: none;
}
.sche_box{
    float: left;
    height: 100%;
    width: 250px;
    padding-left: 0;
    margin-bottom: 50px;
    border: 1px;
    border-style: solid;
}
.schedule{
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
}
ul{
    padding: 0;
    margin: 0;
}
.t1info, .t2info, .t3info, .t4info, .t5info{
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 143px;
    padding-left: 7px;
}
.sche{
    display: none;
    list-style: none;
    border: 1px;
    border-style: solid;
    height: 35px;
    width: 200px;
    padding-left: 7px;
}
.date{
    list-style: none;
    float: left;
    border: 1px;
    border-style: solid;
    width: 25px;
    text-align: center;
}
.date_select{
    width: 100%;
}
.bar{
    list-style: none;
    border: 1px;
    border-style: solid;
    width: 400px;
    text-align: center;
    margin: auto;
}
.bookingT{
    margin: auto;
}
.clicked{
    background-color: lightgrey;
}
#bookBtn{
    margin: auto;
}