#title{
    color: red;
    text-align: center;
}
#search{
    text-align: center;
}
.div1{
    float: left;
    height: 5px;
    width: 33%;
}
.div2{
    float: left;
    width: 33%;
    margin: auto;
}
.dvi3{
    float: left;
    height: 5px;
    width: 33%;
}
.signin .signup{
    width: 100%;
}